<!-- container -->

<div class="block lg:text-3xl text-black font-bold mx-auto px-6 py-3 sm:text-4xl xs:text-4xl ">
  Desserts
</div>
<div class="mx-auto px-4 md:flex sm:block">



    <div  class="grid md:grid-cols-3 sm:grid-cols-1  max-w-full">
     
    @for(product of productsList; track product.id){

    <div class=" col-span-1 m-2 rounded-lg p-0.5">

      <!-- <div class="w-70 h-full  border
        border-gray-200 rounded-lg shadow "> -->
          <div class="relative w-[100%] max-w-96">
         
              <img class=" w-full border-[3px] border-transparent hover:border-custom-red rounded-md" [src]="product.image" alt="product image" />
             
      
            <div class="flex items-center w-25 absolute lg:right-12 lg:bottom-[-10px] md:right-2 xs:right-10 xs:bottom-[-15px] " id="addToCart">
           
                  @if (!addedToCart(product)){
                    <button (click)="addToCart(product)" class="flex items-center text-sm font-semibold rounded-3xl border-custom-red border bg-white hover:text-custom-red px-8 py-2.5 ">
                      <img src="/assets/images/icon-add-to-cart.svg" alt="Cart Icon" class="pr-1">
                      Add to Cart
                    </button>
                  }  @else {

                    <button class="flex justify-between gap-8 items-center text-sm rounded-3xl bg-custom-red px-8 py-2.5 ">
                      <span *ngIf="product.quantity > 1" (click)="decQty(product)" class="text-white hover:text-custom-red ring-1 ring-white p-2 rounded-full"><img src="/assets/images/icon-decrement-quantity.svg" alt="increment" class="py-1"></span>
                      <span *ngIf="product.quantity == 1" (click)="cartService.delete($index)" class="text-white hover:text-custom-red ring-1 ring-white p-2 rounded-full "><img src="/assets/images/icon-decrement-quantity.svg" alt="increment"  class="py-1"></span>
                      
                      <span class="text-white">{{product.quantity}}</span>
                      <span  (click)="incQty(product)" class=" text-white hover:text-custom-red ring-1 ring-white p-2 rounded-full"><img src="/assets/images/icon-increment-quantity.svg" alt="decrement"></span>
                    </button>
                    <!-- <div  href="#" class="flex justify-between text-white text-sm rounded-3xl bg-custom-red w-40
                    hover:text-white max-h-12 focus:outline-custom-red font-medium  mx-20 mb-10 px-5 overflow-hidden">             
                    <button (click)="decQty(product)" class="h-16 pb-4 pl-1 "><img src="/assets/images/icon-decrement-quantity.svg" alt=""></button>
                     
                      <button (click)="incQty(product)"  class="h-16 pb-4 pl-1  hover:text-custom-red"></button>
                    </div> -->
                  }
  
          
          </div>
     
          </div>
          

        <div class="p-5">
          <h3 class="text-sm font-thin opacity-55">
            {{product.category}}
          </h3>
          <h3 class="text-gray-900 text-l font-bold
                    ">{{product.productName}}
          </h3>
          <p class="font-bold text-md text-custom-red pt-1 ">{{product.price | currency : 'USD' : 'symbol' : ''}}</p>

        </div>
      </div>
    <!-- </div> -->


    }

  </div>

</div>
